.card-title {
  text-align: center;
}
.card-text {
  margin-top: 20px;
  text-align: center;

}
.main-card {
  height: 270px;
  margin-top: 20px;
  background-color: #343a40;
  color: white;
}
a {
  color: white !important;
}
a:hover {
  color: white !important;
  text-decoration: none;
}